# ==========================================
# PostgreSQL
# ==========================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=notification_db
DB_USER=
DB_PASSWORD=


# ==========================================
# RabbitMQ
# ==========================================

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=


# ==========================================
# Brevo - Email Provider
# ==========================================

BREVO_BASE_URL=https://api.brevo.com/v3
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=notification-platform-dev


# ==========================================
# Twilio - SMS Provider
# ==========================================

TWILIO_BASE_URL=https://api.twilio.com/2010-04-01
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=


# ==========================================
# Application
# ==========================================

SERVER_PORT=8080